 * {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'courgette'; */
    font-family: 'itim';
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    margin: 0;
}

/* landing page */

.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}
.fullscreen-video-wrap img {
    min-width: 100%;
    min-height: 100%;
}

/* overlay */
.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* background: #225470; */
    background-color: #333;
    z-index: 1;
    opacity: 0.75;
}

/* title card */
.header-content {
    z-index: 2;
    /* height: 100vh; */
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-content h1 {
    font-size: 90px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 4rem;
}

/* buttons */
.buttoncontainers {
    margin-top: 50px;
}
.buttons {
    z-index: 2;
    
}
.btn {
    background: #00cc00;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    margin-top: 50px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    z-index: 2;
} 

.btn:hover {
    background: #bf8040;
    transition: 0.5s ease;
}

/* landing page ends */


/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////// - Code Block -///////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */

/* main page */

/* positions are placeholder for these two */
.page {
    /* background-image: url("main\ page.jpg"); */
    z-index: -2;
    background-image: url('grassfield.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ul li a {
    z-index: 1;
} */

.main-overlay {

    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* background: #225470; */
    background-color: #333;
    opacity: 0.45;
}


/* Navigation */
.navigation {

    z-index: 1;
    position: relative;
}

.title-card {
    position: absolute;
    margin: 0 30px;
    margin-top: 3px;
    color: white;
    letter-spacing: .3em;
    font-family: 'itim';
    font-size: 1.4em;

}
div.navigation {
    background: rgba(0,0,0,0.3);
}
ul {
    list-style-type: none;
    /* background: red; */
    margin: 0;
    margin-right: 3%;
    padding: 0;
    overflow: hidden;
    padding: 20px 0;
}

li {
    float: right;

}


li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: .13em;
}

/* hovering on the shop and about menus */
li a:hover, .dropdown:hover .dropbtn {
   
}
.dropbtn {
    transition: ease 1s;
}

li.dropdown {
    display: inline-block;
}

/* content on the dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cc9966;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 1s;
}

/* the words themselves on dropdown */
.dropdown-content a {
    /* color: black; */
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: 0.5s;
    letter-spacing: .1em;
}

.dropdown-content a:hover {
    background-color: #00cc00;
    border-radius: 5px;
    transition: ease 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}


/* FRONT INTRO */

.frontintro-div {

    margin: 0 auto;
    margin-top: 30vh;
    padding: 0;
    width: 70vw;
    height: 40vh;
    /* background: blue; */

}
.fronttitle {
    font-family: 'Josefin Sans';
    color: #ffffcc;
}
.frontp {
    font-family: 'Crimson Text', serif;
    color: #ffffcc;
    font-size: 1.2em;
    letter-spacing: .1em;
    line-height: 1.7em;
    text-shadow: .5px .4px #604020;
    transition: ease 2s;
}


/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////// - Code Block -///////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */



/* footer and MAILCHIMP */

.footer {
    /* background: blue; */
    width: 100vw;
    height: 70vh;
    /* height: 50px; */
    background-color: #f9f2ec;
}

.footer-wrap {
    /* background: green; */
    width: 80%;
    height: 90%;
    padding-top: 10vh; 
    margin: auto;
}


/* for the title that says subscribe to newsletter */
.newsletter {
    color: #bf8040;
    text-align: center;
    font-size: 3em;
}



/* email and submit button features below */

/* The whole DIV */
#mc_embed_signup {
    /* background: violet; */
    /* display: inline; */
    padding: 10vh 0;
    margin: 0 auto;
    /* clear: left;  */
    font: 14px Helvetica,Arial,sans-serif; 
    width: 100%;
}


/* The area for the email and submit buttons */
#mc_embed_signup_scroll {

    width: 400px;
    position: relative;
    left: 30%;
    padding: 30px 0px;
    /* background: yellow; */
    /* display: inline; */

}
.email {
    padding: 5px 15px;
}

input[type=email] {
   
    outline: none;
    padding: 8px 100px 8px 5px;
    transition: 0.5s;
    border: 1px solid #fff;
    border-radius: 10px;
}

input[type=email]:focus {

    border: 1px solid #555;
}

/* the subscribe button */

.clear {
    float: right;
    margin-left: 0;
    text-decoration: none;
}

input[type=submit] {
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    border-radius: 2px solid #4caf50;
    border-radius: 10px;
    color: white;
}
#mc-embedded-subscribe {
    /* float: right; */
    /* margin: 0; */
    padding: 8px 20px 8px 20px;
    text-decoration: none;
}






/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////// - Code Block -///////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */



/* Mobile Responsive */


@media only screen and (max-width: 600px) {

    /* the ion logo */
    .title-card {
        position: absolute;
        color: white;
        letter-spacing: .3em;
        font-size: 1em;
    }

    /* the paragraph */


    .frontintro-div {

        /* margin-top: 10vh; */
        padding: 0;
        width: 90vw;
        margin-top: 10%;
        /* height: 40vh; */
        line-height: 1px;
        /* background: blue; */
    
    }

    /* newsletters */

    #mc_embed_signup_scroll {
        left: 10px;
    }
    
}
